<!DOCTYPE html>
<html>
<head>
	<title>Customer Sentiment analysis</title>
</head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #3336ff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3336ff;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}



.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<script type="text/javascript">

	/*    Logic to show and hide tabs    */
	function openPage(evt, pageName) {
  	
  		var i, tabcontent, tablinks;
  		tabcontent = document.getElementsByClassName("tabcontent");
  		for (i = 0; i < tabcontent.length; i++) {
    			tabcontent[i].style.display = "none";
  		}

  		tablinks = document.getElementsByClassName("tablinks");
  		for (i = 0; i < tablinks.length; i++) {
    			tablinks[i].className = 			tablinks[i].className.replace(" active", "");
  		}
  		document.getElementById(pageName).style.display = "block";
  		evt.currentTarget.className += " active";
	} 
	
	/*   Function to get the review result   */
	function getPrediction(){
    var reviewtext=document.getElementById("review").value;
    
    /* Condition to check Review is not empty*/
    if(reviewtext.length>1){
      console.log(reviewtext);
      
      /* review text is passed through URL as argument to predict function in main.py*/
      var url = "http://127.0.0.1:5000/predict?review="+reviewtext;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              var val=this.responseText;
              var responsejson=JSON.parse(val);
              console.log(responsejson);
              document.getElementById("sentiment-result").innerHTML = "<h3>"+responsejson["sentiment"]+"</h3>";
          }
      };
      xhttp.open("GET", url, true);
      xhttp.send();
    }
    else{
      alert("Review is empty");
    }
  }
  function doesFileExist(urlToFile) {
      var xhr = new XMLHttpRequest();
      xhr.open('HEAD', urlToFile, false);
      xhr.send();
    return xhr.status !== 404;
  }
  function checkFile(){
    if(doesFileExist("uploads/output.xlsx")){
      document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById("file-output").disabled = true;
      });
      console.log("Exists");
    }
    else{
      console.log("NOT");
    }
  }
  
  	/* Function to convert timestamp value to actual date*/
	function converttodate(timestamp){
		var date = new Date(timestamp*1000);
		var date_string = date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
		return date_string;
	}
	
	var jobid;
	/* Function to get the progress of fetch*/
	function getProgress(){
		console.log("Inside getProgress");
		console.log(jobid);
		var url = "http://127.0.0.1:5000/getprogress?jobid="+jobid;
	    	var xhttp = new XMLHttpRequest();
	    	xhttp.onreadystatechange = function() {
	        	if (this.readyState == 4 && this.status == 200) {
	            		console.log("Success");
	            		var data=JSON.parse(this.responseText);
	            		alert('Progress is ${data["progress"]} %');
	        	}
	        	else{
	        		alert("error in showing progress");
	        	}
	    	};
	    	xhttp.open("GET", url, true);
	    	xhttp.send();
	}
	
	/* Function that checks URL and Retailer*/
	function validateUrl(url,retailer){
    		let domain = (new URL(url));
    		let hostname = domain.hostname.replace('www.','').split('.')[0];
    		console.log(hostname)
    		if(hostname.toLowerCase()==retailer){
      			console.log([true, hostname.toLowerCase()]);
      			return true;
    		}
    		else{
      			return false;
    		}

  	}
  	
  	/* Function logic to call the scrape function*/
	function scrape(){
		//alert("Your request is placed. Please refresh after few minutes");
		var link=document.getElementById("link").value;
		var retailer=document.getElementById("retailer").value;
		
		/*Condition to verify whether retailer and URL matches*/
		if(validateUrl(link,retailer)){
		
		/* Requesting the enqueue function to scrape review with URL and retailer name are passed as arguments */
			var url = "http://127.0.0.1:5000/enqueue?link="+link+"&retailer="+retailer;
	    		var xhttp = new XMLHttpRequest();
	    		xhttp.onreadystatechange = function() {
	        	if (this.readyState == 4 && this.status == 200) {
	            		console.log("Success");
	        	}
	    	};
	    	xhttp.open("GET", url, true);
	    	xhttp.send();
	    }
	    else{
	    	alert("Invalid URL for the selected retailer");
	    }
	}
	
	/* Function logic to display the previously fetched reviews*/
	function getReviewFiles(){
	    //console.log("hello");
	    
	    //The following line will keep crawler tab opened by default
	    document.getElementById("defaultOpen").click();
	    
	    /* Request is made to the fetch function to get  already available review data from the database*/
	    var url = "http://127.0.0.1:5000/fetch";
	    var xhttp = new XMLHttpRequest();
	    xhttp.onreadystatechange = function() {
	        if (this.readyState == 4 && this.status == 200) {
	            var res=this.responseText;
	            //console.log(res);
	            var response=JSON.parse(res);
	            
	            
	            //Displaying the DB resultset in the form of table
	            dic={"1":"Pending","2":"Done","3":"error"};
	            var table_body='<table class="styled-table">';
	            table_body+="<thead>";
	            table_body+="<tr>";
	            table_body+="<th>Retailer name</th>";
	            table_body+="<th>URL</th>";
	            table_body+="<th>Time of Fetch</th>";
	            table_body+="<th>Review file</th>";
	            table_body+="<th>Fetch Status</th>";
	            table_body+="</tr>";
	            table_body+="</thead>";
	            table_body+="<tbody>";
	            for(var i=response["result"].length-1;i>=0;i--){
	            	table_body+="<tr>";
	            	table_body+="<td>"+response["result"][i]["retailer"]+"</td>";
	            	table_body+="<td>"+response["result"][i]["url"]+"</td>";
	            	table_body+="<td>"+converttodate(Number(response["result"][i]["time"]))+"</td>";
	            	table_body+='<td><a href="http://localhost:5000/results/'+(response["result"][i].hasOwnProperty("filename") ? response["result"][i]["filename"] : "no file")+'"'+'>'+response["result"][i]["filename"]+'</a></td>';
	            	jobid=response["result"][i]["jod_id"];
	            	console.log(jobid);
	            	table_body+='<td><input type="button" value='+dic[response["result"][i]["status"]]+' class="btn btn-primary" onclick="getProgress()"></td>';
	            	table_body+="</tr>";
	            }
	        }
	        table_body+="</tbody>";
	        table_body+="</table>";
	        document.getElementById("review-files").innerHTML=table_body;
	        //console.log(table_body);
	        
	    };
	    xhttp.open("GET", url, true);
	    xhttp.send();
	}
	
</script>

<body onload="getReviewFiles()">

<div class="tab">
  <button class="tablinks" onclick="openPage(event, 'scrapepage')" id="defaultOpen">Crawler</button>
  <button class="tablinks" onclick="openPage(event, 'sentiment')">Sentiment analysis</button>
</div>
<script>
document.getElementById("defaultOpen").click();
</script>

<div id="scrapepage" class="tabcontent">
<div>
    <label for="link">Enter URL</label><br>
    <textarea id="link" name="link" placeholder="Enter URL" cols="50" rows="5"> </textarea>
    <br><br>
    <label for="retailer">Choose a retailer</label>
	<select name="retailer" id="retailer">
	  <option value="amazon">amazon</option>
	  <option value="shopee">Shopee</option>
	</select>
    <input type="submit" value="Get Reviews" class="btn btn-primary" onclick="scrape()">
</div>
<input type="submit" value="Refresh" class="btn btn-primary" onclick="getReviewFiles()">
<div id="review-files">
</div>
</div>


<div id="sentiment" class="tabcontent">
<center>
    <h3>Sentiment Analysis</h3>
<div>
    <label for="review-text">Enter Review</label><br>
    <textarea id="review" name="review-text" placeholder="Enter Review" cols="50" rows="10"> </textarea>
    <br><br>
    <input type="submit" value="Get sentiment" class="btn btn-primary" onclick="getPrediction()">
</div>

<div>
  <p id="sentiment-result"></p>
</div>
<div>
  <form action="" method="POST" enctype="multipart/form-data">
    <input type="file" id="myfile" name="file" required="required">
    <br><br>
    <input type="submit" value="submit" class="btn btn-primary">
  </form>
</div>
<script type="text/javascript">
  checkFile();
</script>
<div>
  <a id="file-output" href="{{ url_for('upload', filename='output.xlsx') }}" download>Download output</a>
</div>
</center>

</div>

</body>
</html>
